
/modules/apache/logs/*
!/modules/apache/logs/.gitkeep

/modules/nginx/logs/*
!/modules/nginx/logs/.gitkeep

/modules/mysql/data/*
!/modules/mysql/data/.gitkeep
/modules/mysql/logs/*
!/modules/mysql/logs/.gitkeep